<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--World icon by.Aaron Jin-->
    <link rel="icon" href="images/icons/favicon.ico" type="image/x-icon" />

    <!--Nanum Gothic font by.Sandoll Communication-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles/share.css" />
    <link rel="stylesheet" href="styles/posting.css" />

    <title>글 작성</title>
  </head>

  <body>
    <header>
      <div id="header-item">
        <div id="logo">
          <a href="/">
            <img src="images/icons/world-icon.png" alt="Community logo" />
            Community
          </a>
        </div>
        <nav id="top-menu">
          <ul>
            <li>
              <a href="#">공지</a>
            </li>
            <li>
              <a href="#">알림</a>
            </li>
            <li>
              <a href="#">로그인</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <section id="contents">
        <form action="/posting" method="POST">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="제목"
            required
          />
          <textarea
            name="textcontents"
            id="textcontents"
            placeholder="본문"
            required
          ></textarea>
          <button type="submit">업로드</button>
        </form>
      </section>
    </main>

    <footer>
      <p>2024년 2월 1일 제작</p>
    </footer>
  </body>
</html>
