<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>

    <title>Font license</title>
  </head>

  <body>
    <%- include("includes/header") %>

    <main>
      <section id="title">
        <h1>Font License</h1>
      </section>

      <section id="license">
        <ul>
          <li>
            <h2>Nanum Gothic</h2>
            <p>
              This website uses the 'Nanum Gothic'font, designed by Sandoll
              Communication, licensed under the SIL Open Font License, Version
              1.1.
            </p>
          </li>
        </ul>
      </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
