<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>

    <title>Image license</title>
  </head>

  <body>
    <%- include("includes/header") %>

    <main>
      <section id="title">
        <h1>Image License</h1>
      </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
