<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>

    <link rel="stylesheet" href="/styles/error.css" />

    <title>Error</title>
  </head>

  <body>
    <%- include("includes/header") %>

    <main>
      <h1>Error code: 500</h1>
      <p>서버에 문제가 발생했습니다.</p>
      <p>불편을 드려 죄송합니다. 빠른 시일내에 해결하도록 노력하겠습니다.</p>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
