<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>

    <link rel="stylesheet" href="/styles/license.css" />

    <title>Font license</title>
  </head>

  <body>
    <%- include("includes/header") %>

    <main>
      <h1>Image license</h1>
      <hr />
      <ul>
        <li>
          <h2>Nanum Gothic</h2>
          <p>
            This website uses the 'Nanum Gothic'font, designed by Sandoll
            Communication, licensed under the SIL Open Font License, Version
            1.1.
          </p>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
