<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>

    <link rel="stylesheet" href="/styles/license.css" />

    <title>Image license</title>
  </head>

  <body>
    <%- include("includes/header") %>

    <main>
      <h1>Font license</h1>
      <hr />
      <ul>
        <li>
          <h2>favicon</h2>
          <p>Basket icon by.Bogdan Rosu</p>
        </li>
        <li>
          <h2>Bottle image</h2>
          <p>Bottle image by.Unsplash의Bobby Donald</p>
        </li>
        <li>
          <h2>Sunglasses image</h2>
          <p>Sunglasses image by.Unsplash의Sebastian Coman Travel</p>
        </li>
        <li>
          <h2>Cup image</h2>
          <p>Cup image by.Unsplash의Samantha Ram</p>
        </li>
      </ul>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
