<footer>
  <ul>
    <li>Copyright 2024. Tief all rights reserved.</li>
    <li>
      <a href="/font-license">Font License</a>
      <a href="/image-license">Image License</a>
    </li>
  </ul>
</footer>
