header {
  background-color: rgba(0, 0, 0, 0.5);
}

.explain {
  /*background image by.Unsplashì˜Kaffeebart*/
  background-image: url(/img/security.jpg);
}

.explain div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 25px;
}

footer {
  background: linear-gradient(180deg, rgb(98, 206, 186), rgb(144, 255, 235));
}
