<footer>
  <ul>
    <li id="copyright">Copyright 2024. Tief all right reserved.</li>
    <li id="license">
      <a href="/font-license">Font License</a>
      <a href="/image-license">Image License</a>
    </li>
  </ul>
</footer>
