<header>
  <div id="header-item">
    <a href="/" id="logo">Community</a>
    <nav id="header-menu">
      <ul>
        <li>
          <a href="/writing">글 작성</a>
        </li>
        <li>
          <a href="/my-writing">내가 작성한 글</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
