<footer>
  <p>Copyright 2024. Tief all right reserved.</p>
  <ul>
    <li>
      <a href="/font-license">Font License</a>
    </li>
    <li>
      <a href="/image-license">Image License</a>
    </li>
  </ul>
</footer>
