<header>
  <div id="header-contents">
    <a href="/" id="logo"> Company </a>

    <nav id="header-menu">
      <ul>
        <li>
          <a href="/writing">글 작성</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
