<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>

    <link rel="stylesheet" href="/styles/error.css" />

    <title>Error</title>
  </head>

  <body>
    <%- include("includes/header") %>

    <main>
      <h1>ERROR Code: 404</h1>
      <p>페이지를 찾을 수 없습니다. 올바른 주소인지 확인해 주십시오.</p>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
