body {
  color: white;
  padding: 2rem;
}

header {
  font-size: 1.5rem;
  font-weight: 800;
}

main {
  width: 46rem;
  margin: 0 auto;
  padding: 1rem;
  border: 3px solid white;
  border-radius: 1.5rem;
}

section h2 {
  margin: 1.5rem 0;
  padding-left: 2rem;
  font-size: 2rem;
}

#explanation ul {
  list-style: none;
  margin-bottom: 1.5rem;
  padding: 0 0 0 1rem;
}

section li {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

#rules ul {
  margin-bottom: 1.5rem;
}

#btn ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  list-style: none;
  padding: 0 1rem;
}

#btn li {
  text-align: center;
}

#btn a {
  display: block;
  color: var(--color-gray-700);
  text-decoration: none;
  background-color: white;
  border: 1px solid var(--color-gray-700);
  border-radius: 0.75rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

#btn a:hover {
  background-color: var(--color-gray-100);
}
