<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="/styles/non-landing-page.css" />

    <title>Font license</title>
  </head>

  <body>
    <header>
      <div id="header-item">
        <a href="/" id="logo">
          <!--Change the color of the icon.-->
          <img src="/images/icons/food-icon.png" alt="Logo image" />
          Italian food
        </a>
        <nav>
          <ul>
            <li>
              <a href="/menu">Menu</a>
            </li>
            <li>
              <a href="/review">Review</a>
            </li>
            <li>
              <a href="/shopping-basket">Basket</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <h1>Font License</h1>

      <section>
        <ul>
          <li>
            <h2>Dancing Script</h2>
            <p>
              This website uses the 'Dancing Script' font, designed by Impallari
              Type, licensed under the SIL Open Font License, Version 1.1.
            </p>
          </li>
          <li>
            <h2>Nanum Myeongjo</h2>
            <p>
              This website uses the 'Nanum Myeongjo' font, designed by Sandoll
              Communication, licensed under the SIL Open Font License, Version
              1.1.
            </p>
          </li>
        </ul>
      </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
