<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="/styles/non-landing-page.css" />

    <title>Image license</title>
  </head>

  <body>
    <header>
      <div id="header-item">
        <a href="/" id="logo">
          <!--Change the color of the icon.-->
          <img src="/images/icons/food-icon.png" alt="Logo image" />
          Italian food
        </a>
        <nav>
          <ul>
            <li>
              <a href="/menu">Menu</a>
            </li>
            <li>
              <a href="/review">Review</a>
            </li>
            <li>
              <a href="/shopping-basket">Basket</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <h1>Image License</h1>

      <section>
        <ul>
          <li>
            <h2>favicon</h2>
            <p>food icon by.Webalys</p>
          </li>
          <li>
            <h2>header logo</h2>
            <p>Change the color of the icon.</p>
          </li>
          <li>
            <h2>main background-image</h2>
            <p>Pasta image by.Unsplash의Shardar Tarikul Islam</p>
          </li>
          <li>
            <h2>main Tomato pasta image</h2>
            <p>Tomato pasta image by.Unsplash의Hanxiao</p>
          </li>
          <li>
            <h2>main Carbonara image</h2>
            <p>Carbonara image by.Unsplash의Victoria Shes</p>
          </li>
          <li>
            <h2>main Shrimp risotto image</h2>
            <p>Shrimp risotto image by.Unsplash의Marika Sartori</p>
          </li>
        </ul>
      </section>
    </main>

    <%- include("includes/footer") %>
  </body>
</html>
